.form__input
  background: #F7F8F9
  padding: 0.625rem 0
  border-radius: 0.75rem
  font-size: 1rem
  &--inline
    display: inline-block
    max-width: 48%
    --n-height: 40px!important
    &:first-of-type
      margin-right: 2%
    &:last-of-type
      margin-left: 2%
