{
	email {$TLS_EMAIL}
}

{$SITE_ADDRESS} {
	encode zstd gzip

	header {
		-Cross-Origin-Resource-Policy
		-Server
		Cross-Origin-Embedder-Policy "require-corp"
		Cross-Origin-Opener-Policy "same-origin"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	handle_path /api/* {
		reverse_proxy api-server:4000
	}

	handle_path /minio/* {
		reverse_proxy minio:9200 {
			header_up Host {upstream_hostport}
		}
	}

	@assets path /assets/*
	header @assets Cache-Control "public, max-age=31536000, immutable"

	@index path /index.html
	header @index Cache-Control "no-store"

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
