:deep(.n-tabs.n-tabs--left .n-tabs-bar)
  right: auto
  left: 0
  width: 3px
  border-radius: 3px 0 0 3px
:deep(.n-tabs-nav--bar-type.n-tabs-nav--left.n-tabs-nav)
  flex-direction: column
// :deep(.n-tabs.n-tabs--left .n-tabs-nav-scroll-content)
//   width: 10.25rem
:deep(.n-tabs.n-tabs--left .n-tabs-nav__suffix)
  flex-direction: column
  padding: 0!important
