$black-color: #000
$white-color: #fff
$light-background-color: #f5F7Fa

$primary-color: #1161fc
$light-primary-color: #b3d8ff
$lighter-primary-color: #d9ecff
$extra-light-primary-color: #ecf5ff

$danger-color: #f56c6c
$warning-color: #fdbf46
$success-color: #67c23a

$primary-text-color: #303133
$regular-text-color: #606266
$placeholder-text-color: #c0c4cc

$border-color: #dcdfe6
$lighter-border-color: #ebeef5
